.container {
    overflow: hidden;
    color: var(
        --Typography-colorTypographyPlaceholder,
        rgba(255, 255, 255, 0.5)
    );
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 112px;
    font-family: 'Canva Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
