.container {
    background: var(--ui-kit-color-neutral-low);
    cursor: pointer;
    align-items: baseline;
    cursor: pointer;
    display: flex;
    height: 152px;
    cursor: pointer;
    width: 100%;
}
.container:hover {
    background-color: var(--ui-kit-color-neutral);
}
.container:active {
    transition: 0.07s ease;
    background-color: rgba(255, 255, 255, 0.12);
}
