.container {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--ui-kit-border-radius);
    padding: 2rem;
}

.theme-btn {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 2%;
    width: 20px;
    height: 20px;
    padding: 8px;
    background-color: rgba(17, 23, 29, 0.6);
    border-radius: var(--ui-kit-border-radius);
}
.theme-btn img {
    width: 100%;
    display: block;
}
