.pill-hover > button {
    width: 100%;
    box-shadow: none;
    border: 1px solid var(--ui-kit-color-border);
    background-color: var(--ui-kit-color-tertiary-hover);
}
.pill-active > button {
    box-shadow: none;
    border: 1px solid var(--ui-kit-color-border-active);
}

.pill > button {
    width: 100%;
    box-shadow: none;
    border: 1px solid var(--ui-kit-color-border);
}
