.Active-button > button {
    background-color: var(--ui-kit-color-primary-active);
}
.Active-button-secondary > button {
    background-color: var(--ui-kit-color-secondary-active);
}
.Active-button-tertiary > button {
    background-color: var(--ui-kit-color-tertiary-active);
}

.Hover-button > button {
    background-color: var(--ui-kit-color-primary-hover);
}

.Hover-button-secondary > button {
    background-color: var(--ui-kit-color-secondary-hover);
}

.Hover-button-tertiary > button {
    background-color: var(--ui-kit-color-tertiary-hover);
}
.button-loading-state > button > span:nth-child(2) span > svg > defs > path {
    fill: currentColor !important;
}
