.Header {
  display: flex;
  font-weight: 500;
  font-size: 1.4em;
  align-items: center;
  min-height: 25px;
}

.HeaderBackButton {
  flex-shrink: 0;
  background: transparent;
  border: 0;
  margin: 0 8px 0 -6px;
  padding: 0;
  cursor: pointer;
}

.HeaderTitle {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ButtonWrapper {
  display: flex;
}

.Button:not(:last-child) {
  padding-right: 5px;
}
