.Active-checkbox > svg {
    background-color: var(--ui-kit-color-primary-active);
    border-radius: 4px;
}
.Pressed-checkbox > svg {
    background-color: var(--ui-kit-color-primary-hover);
    border-radius: 4px;
}
