.multiline-input > div > div textarea {
    border-radius: 10px !important;
}

.multiline-active > div > div:first-of-type {
    border: 1.5px solid var(--ui-kit-color-border-active);
    box-shadow: none;
}
.multiline-hover > div > div:first-of-type {
    border: 1.5px solid var(--ui-kit-color-border-hover);
    box-shadow: none;
}
